# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\etc\Web Development\anooshehInfo\imananoosheh.github.io\HBD2U(^_^)\ramtindaghighi.com\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
