*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #fff; }

body {
  background-color: #080808; }

.glitch1 {
  font-size: 130px;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
  color: #fff; }
  .glitch1:before, .glitch1:after {
    display: block;
    content: 'IMAN';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8; }
  .glitch1:before {
    color: #0ff;
    z-index: -1; }
  .glitch1:after {
    color: #f0f;
    z-index: -2; }
  .glitch1:hover:before {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite; }
  .glitch1:hover:after {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite; }

.glitch2 {
  font-size: 130px;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
  color: #fff; }
  .glitch2:before, .glitch2:after {
    display: block;
    content: 'ANOO';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8; }
  .glitch2:before {
    color: #0ff;
    z-index: -1; }
  .glitch2:after {
    color: #f0f;
    z-index: -2; }
  .glitch2:hover:before {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite; }
  .glitch2:hover:after {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite; }

.glitch3 {
  font-size: 130px;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
  color: #fff; }
  .glitch3:before, .glitch3:after {
    display: block;
    content: 'SHEH';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8; }
  .glitch3:before {
    color: #0ff;
    z-index: -1; }
  .glitch3:after {
    color: #f0f;
    z-index: -2; }
  .glitch3:hover:before {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite; }
  .glitch3:hover:after {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite; }

.glitch4 {
  font-size: 130px;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
  color: #fff; }
  .glitch4:before, .glitch4:after {
    display: block;
    content: 'POUR';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8; }
  .glitch4:before {
    color: #0ff;
    z-index: -1; }
  .glitch4:after {
    color: #f0f;
    z-index: -2; }
  .glitch4:hover:before {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite; }
  .glitch4:hover:after {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite; }

.hovered1.glitch1::before {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite; }

.hovered1.glitch1::after {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite; }

.hovered2.glitch2::before {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite; }

.hovered2.glitch2::after {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite; }

.hovered3.glitch3::before {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite; }

.hovered3.glitch3::after {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite; }

.hovered4.glitch4::before {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite; }

.hovered4.glitch4::after {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite; }

/*#landingPage{
	position: relative;
	transition:all 2s linear;
	left: 50vw;
	top: 50vh;
	//animation: landingTransition 4s cubic-bezier(.1, .3, .7, .9) 5s infinite;
	&.move{
		left: 10vw;
	}
}
*/
@keyframes glitch {
  0% {
    transform: translate(0); }
  20% {
    transform: translate(-5px, 5px); }
  40% {
    transform: translate(-5px, -5px); }
  60% {
    transform: translate(5px, 5px); }
  80% {
    transform: translate(5px, -5px); }
  to {
    transform: translate(0); } }
@keyframes landingTransition {
  0% {
    transform: translate(0); }
  20% {
    transform: translate(40vw, 50vh);
    transform: scale(0.8, 0.8); }
  40% {
    transform: translate(30vw, 50vh);
    transform: scale(0.7, 0.7); }
  60% {
    transform: translate(20vw, 50vh);
    transform: scale(0.6, 0.6); }
  80% {
    transform: translate(10vw, 50vh);
    transform: scale(0.5, 0.5); }
  100% {
    transform: scale(0.4, 0.4); } }

/*# sourceMappingURL=landing.css.map */
